<%- include('./partial/header.ejs') %>
<% if (locals.user) { %>
<div class="profile-main-container">
    <div>
        <h2>Personal</h2>
        <img src="<%= locals.user.avatarURL ? locals.user.avatarURL : '/images/profile/guest.jpeg' %>" alt="">
        <h3>
            <%= locals.user.firstName + " " + locals.user.lastName %>
        </h3>
        <h3>PhoneNumber : <%= locals.user.phoneNumber %>
        </h3>
        <a href="/profile/edit_personal">Edit</a>
    </div>
    <div>
        <h2>Address</h2>
        <h3>
            Area: <%= locals.user.area %>
        </h3>
        <h3>
            Block: <%= locals.user.block %>
        </h3>
        <h3>
            Street: <%= locals.user.street %>
        </h3>
        <h3>
            House: <%= locals.user.house %>
        </h3>
        <a href="/profile/edit_address">Edit</a>
    </div>

</div>
<% } %>