<%- include('./partial/header.ejs') %>
<div class="itemContainer">
    <% items.forEach(function(item){ %>
        <a href="/item/show?id=<%= item._id %>">
            <div class="items">
                <img class="menuImage" src="<%= item.imageURL %>">
                <p>
                    <%= item.title %>
                </p>
                <span>
                    <%= item.price %> BD
                </span>
            </div>
        </a>
    <% }) %>
</div>
