<%- include('./partial/header.ejs') %>
    <div class="filterGroup">
            <a class="filterBtn" href="/item/index">All</a>
            <a class="filterBtn" href="/item/index?filter=Foods">Foods</a>
            <a class="filterBtn" href="/item/index?filter=Drinks">Drinks</a>
            <a class="filterBtn" href="/item/index?filter=Deserts">Deserts</a>
    </div>
    <div class="itemContainer">
    <% items.forEach(function(item){ %>
        <a href="/item/show?id=<%= item._id %>">
            <div class="items">
                <img class="menuImage" src="<%= item.imageURL %>">
                <p>
                    <%= item.title %>
                </p>
                <span>
                    <%= item.price %> BD
                </span>
            </div>
        </a>
    <% }) %>
    <% if (items.length === 0) { %>
        <p>No items found.</p>
    <% } %>
  </div>