<%- include('./partial/header.ejs') %>
<div class="SignUpPage">
    <div class="form">
        <h1 class="textCenter"><%= item.title %></h1>
    
        <div class="inputGroup showCenter">
            <span>Image:  </span><%= item.imageURL %>
        </div>
        <div class="inputGroup showCenter">
            <span>Description:  </span><%= item.des %>
        </div >
        
        <div class="inputGroup showCenter">
            <span>Category:  </span><%= item.category %>
        </div>
        
        <div class="inputGroup showCenter">
            <span>Price:  </span><%= item.price %> <span>BD</span>
        </div>
        <div class="btnGroup">
            <a class="btn" href="/item/edit?id=<%=item._id%>">Edit</a>
            <a class="btn" href="/item/delete?id=<%=item._id%>">Delete</a>
        </div>
        <div>
            <button class="btn addCart">Add to Cart</button>
        </div>
    </div>    
</div>
